* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/* Wrap */
.flex-container {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /*  put something like margin to all inside elements only if find element near him   */
}

/* main Container */
.container {
    width: 1024px;
    height: 1124px;
    display: flex;
    flex-direction: row;
}

/* First column */
.profile-info {
    width: 25%;
    padding-top: 15px;
    padding-left: 20px;
    gap: 20px;
    display: flex;
    /* justify-content: center;  center elements horizontal */
    /* align-items: flex-start; center elements  vertical */
}

/* Second column */
.feeds-info {
    width: 50%;
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Third column */
.requests-info {
    width: 25%;
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
}

.profile-info,
.feeds-info,
.requests-info {
    border: 1px solid #ccc;
}

.profile-elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.span-biger {
    font-size: 20px;
}


/* .span-position {
} */
.followers li span:first-child {
    font-weight: bold;

}

.icons span:first-child {
    font-weight: bold;
}

.followers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.icons {
    width: 100%;
    display: flex;
    padding-top: 20px;
    margin: 20px 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    border-top: 1px dotted;
}

.icons a div {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.icons a {
    display: flex;
    align-items: center;
    gap: 2px;
}

.friend {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.chat-icon {
    margin-left: auto;
    margin-right: 5px;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.white-blue-color {
    color: #1CB0F6;
}

i {
    color: #1CB0F6;
    font-size: 20px;
}